.background{
}
.left-side{
    height:50%;
    margin:4px;
    height:100%;
}
.right-side{
    flex-grow: 1;
    margin:4px;
}
.main-content{
    display:flex;
    flex-direction: row;
}
.author{
    position:fixed;
    right: 2rem;
    bottom: 1rem;
    color:rgb(50, 50, 50);
    font-size: 0.75rem;
}